{% extends 'base.html.twig' %}

{% block title %}Usuario | {{ parent() }}{% endblock %}

{% block body %}

<section class="container">
    <div class="row py-5">
        <div class="card col-md-8 col-lg-6 mx-auto">
            <div class="card-body">

                <div class="media">
                    <svg width="8em" height="8em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                    <div class="media-body">
                        <h1 class="h3 mb-3 font-weight-normal">Hola {{ app.user.name }}</h1>
                        <p class="mt-0 h5">{{ app.user.email }}</p>
                        <p class="mt-0 h5">{{ app.user.phone }}</p>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>

{% endblock %}
